body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f00000;
  color: white;
  font-size: 10px;
  text-align: center;
}
ul{
  -webkit-padding-start: 0px;
  padding: 5px;
}
h1{
  font-size: 2rem;
}
button{
  margin: 15px 5px 0;
  background: #151d2d;
  color: rgba(255,255,255,0.95);
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  border: 1px solid #151d2d;
}
button:hover{
  color: white;
  border: 1px solid white;
}
button:focus{
  outline: none;
}
button:active{
  color: #9C824A;
  border: 1px solid #9C824A;
}
li{
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 0;
  padding: 0 0 10px;
  text-align: center;
  list-style-type: none;
  position: relative;
  box-sizing: border-box;
}
li::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  background: #151d2d;
  border-bottom: 3px solid #9C824A;
  width: 10%;
  height: 3px;
}
li:last-of-type::after{
  content: none;
}
#tacticalLineup{
  width: 95%;
  max-width: 600px;
  height: 500px;
  margin: 50px auto;
  border: 3px solid white;
  box-sizing: border-box;
  padding: 30px 0 0;
}
#tacticalLineup.rows-3 .row{
  height: 33.3333333%;
}
#tacticalLineup.rows-3 .row:last-of-type{
  display: none;
}
#tacticalLineup.rows-4 .row{
  height: 25%;
}
#tacticalLineup .row{
  box-sizing: border-box;
  background: green;
  border: 1px solid limegreen;
  width: 100%;
}
#tacticalLineup .row > div{
  font-size: 1rem;
  margin: 5px;
  display: inline;
}
#tacticalLineup .row.gk{
  height: 30px;
  margin: -30px 0 0;
}
