body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f00000;
  color: white;
  font-size: 10px;
}
ul{
  -webkit-padding-start: 0px;
  padding: 5px;
}
button{
  margin: 15px 0 0;
  background: #151d2d;
  color: rgba(255,255,255,0.95);
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  border: 1px solid #151d2d;
}
button:hover{
  color: white;
  border: 1px solid white;
}
button:focus{
  outline: none;
}
button:active{
  color: #9C824A;
  border: 1px solid #9C824A;
}
li{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 0;
  padding: 0 0 10px;
  text-align: center;
  list-style-type: none;
  position: relative;
  box-sizing: border-box;
}
li::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  background: #151d2d;
  border-bottom: 3px solid #9C824A;
  width: 10%;
  height: 3px;
}
li:last-of-type::after{
  content: none;
}
